* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
}

.rotar-imagen {
    transition: transform 0.3s ease-in-out;
}

.rotar-imagen:hover {
    transform: rotate(10deg);
}

.imagen-bnw {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.imagen-bnw:hover {
    filter: grayscale(0%);
}


/* @media (max-width: 952px) {
    
} */